//fonts
// Fonts are loaded via link tags in HTML for better performance
// @import url(https://fonts.googleapis.com/css?family=Kameron:700);
// @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,regular,500);

// helpers
@import "./base/vars";
@import "./base/helpers";
@import "./base/reset";
@import "./base/repeat";

// blocks
@import './blocks/header';
@import './blocks/home';
@import './blocks/contacts';
@import './blocks/footer';
@import './blocks/portfolio';
@import './blocks/services';
@import './blocks/privacy';
@import './blocks/about';
