.contacts {
  position: relative;
  padding: 0px 0px 170px 0px;
  background: url('/images/contacts/bg.svg') 0 0px / cover no-repeat;

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 64px;
  }

  &__title-decor {
    width: 46px;
    height: 4px;
    background-color: #171717;
  }

  &__title {
    font-family: 'Kay Pho Du', serif;
    font-weight: 600;
    font-size: 48px;
    color: #171717;
  }

  &__content {
    display: flex;
    gap: 106px;
    align-items: center;
  }

  &__message {
    max-width: 745px;
    padding: 35px;
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  &__message-title {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 21px;
  }

  &__message-text {
    font-weight: 400;
    font-size: 20px;
    color: #171717;
    margin-bottom: 54px;
  }

  &__info-title {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 41px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 139px;
    margin-bottom: 55px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 31px;

    &:hover {
      .contacts__item-icon {
        background-color: #171717;
      }
    }
  }

  &__item-icon {
    border: 1px solid black;
    padding: 11px 11px;

    & img {
      width: 25px;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 20px;
    color: #171717;
    margin-bottom: 3px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 16px;
    color: #171717;
  }

  &__message-button-wrapper {
    display: inline-block;
  }

  &__message-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.1s linear;
    border-radius: 5px;
    padding: 8px 16px;
    background: #171717;

    &:hover {
      -webkit-box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
    }
  }

  &__message-button-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #f4f4f4;
  }

  &__form {
    min-width: 498px;
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #0f172a;
    margin-bottom: 4px;
  }

  &__input {
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    padding: 8px 56px 8px 12px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #171717;
    transition: all 0.2s linear;

    &:hover {
      border: 1px solid black;
    }

    &:focus {
      border: 1px solid black;
    }

    &::placeholder {
      color: #768394;
    }
  }

  &__textarea-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  &__textarea {
    min-height: 205px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    padding: 8px 12px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #171717;

    &::placeholder {
      color: #768394;
    }
  }

  &__form-button {
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 16px;
    background: #171717;
    transition: all 0.1s linear;

    &:hover {
      -webkit-box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
    }
  }

  &__form-button-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #f4f4f4;
  }

  &__scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
}
