.header {
    padding: 30px 0px;

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: end;
    }

    &__icon path {
        transition: all 0.2s linear;
    }

    &__contact {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid #171717;
        transition: all 0.2s linear;
        width: 52px;
        height: 52px;

        &:hover {
            background: #171717;

            .header__icon path {
                fill: white;
            }

            .header__icon-addition {
                fill: black !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0px;
        
        &__contacts {
            gap: 15px;
        }
        
        &__contact {
            width: 48px;
            height: 48px;
        }
    }
}

@media (max-width: 528px) {
    .header {
        padding: 15px 0px;
        
        &__contacts {
            gap: 10px;
            justify-content: center;
        }
        
        &__contact {
            width: 42px;
            height: 42px;
        }
        
        &__icon {
            width: 20px !important;
            height: 20px !important;
        }
    }
}

@media (max-width: 380px) {
    .header {
        &__contacts {
            gap: 8px;
        }
        
        &__contact {
            width: 38px;
            height: 38px;
        }
    }
}
