.title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    &__line {
        width: 46px;
        height: 4px;
        background-color: #171717;
    }

    &__text {
        font-weight: 500 !important;
        font-size: 48px;
        text-align: center;
        color: #171717;
    }
}

@media (max-width: 1250px) {
    .title {
        justify-content: center;
        margin-bottom: 34px;
    }
}

@media (max-width: 768px) {
    .title {
        justify-content: left;
    }
}

@media (max-width: 768px) {
    .title {
        &__line {
            width: 40px;
            height: 3px;
        }

        &__text {
            font-size: 40px;
        }
    }
}

@media (max-width: 528px) {
    .title {
        gap: 15px;
        margin-bottom: 30px;

        &__line {
            width: 36px;
            height: 3px;
        }

        &__text {
            font-weight: 600 !important;
            font-size: 32px !important;
        }
    }
}

@media (max-width: 380px) {
    .title {
        gap: 12px;
        margin-bottom: 25px;

        &__line {
            width: 30px;
            height: 2px;
        }

        &__text {
            font-size: 28px !important;
        }
    }
}
